<% provide :title, @category.name %>
<h1><%= @category.name %></h1>
<p><%= @category.description %><p>
<p><%= link_to "Delete Category", admin_category_path(@category.id) ,method: :delete,
  data: { confirm: "Are you sure ?" } %></p>
<p><%= link_to "Edit Category", edit_admin_category_path(@category.id) %></p>

<%= paginate @books, theme: "twitter-bootstrap-3" %>
<ul class="index_items">
  <% @books.each do |book| %>
    <li>
      <li>
        <%= gravatar_book book, size: 50 %>
        <%= link_to book.name, book %>
        <% if logged_in? && current_user.admin? %>
          | <%= link_to "Delete Book", admin_book_path(book.id) ,method: :delete,
            data: { confirm: "Are you sure ?" } %>
        <% end %>
      </li>
    </li>
  <% end %>
</ul>
<%= paginate @books, theme: "twitter-bootstrap-3" %>
