<li>
  <p>Name: <%= @book.name %></p>
  <p>Author: <%= @book.author %></p>
  <p>publisher: <%= @book.publisher %></p>
  <p>Status: <%= @book.status %></p>
  <p>Free from: <%= @book.free_time %></p>
</li>
