<li>
  <%= link_to request.book.name, request.book %> -
  <%= link_to request.user.name, request.user %> -
  <%= request.start %> -
  <%= request.finish %> -
  | <%= link_to "Accept", admin_request_path(id: request.id, accept: true) ,
    method: :put, data: { confirm: "Are you sure ?" } %>
  |<%= link_to "Reject", admin_request_path(id: request.id, accept: false),
    method: :put, data: { confirm: "Are you sure ?" } %>
</li>
